<html lang="en">
<head>
    <title>Online TaxPayment</title>
</head>
<body>
	<h1>Online Tax Payment</h1>
	<form action="/homePage3/" method="get">
	<br>
	Customer id: <input type="text" name="id" value="{{custid}}" />
	Customer name: <input type="text" name="name" value="{{custname}}" />
	Tax Type: <input type="text" name="taxtype" value="{{ttype}}"  />
	Account no: <input type="text" name="accno" value="{{accno}}" />
	Amount:<input type="text" name="amount" value="{{a}}" />
	Assesment Year:<input type="text" name="ayear" value="{{assyear}}" />
	</br>	
	Enter Your Pin:<input type="text" name="pin"/>
	<input type="submit" value="Confirm Payment">
   </form>
</body>
</html>
