<html lang="en">
<head>
    <title>Tax Transaction History</title>
<link rel="stylesheet" type="text/css" href= "/static/base.css" />
</head>
<body>
	<h1>Show All My Tax Transaction History</h1>
	<form action="#" method="get">
	Enter your Account Number:<input type="text" name="accno">
        <input type="submit" value="Continue">
    </form>
	<a href="/onlinePayment/">Go Back To Home Page</a>
	{% if alltax %}
		<table id="shwtax">
			<tr>
				<th>Customer ID</th>
				<th>Account Number</th>
				<th>Tax Type</th>
				<th>Transaction ID</th>
				<th>Date</th>
				<th>Amount Paid</th>
				<th>Assessment Year</th>
			</tr>	
		{% for tax in alltax %}
			{% ifchanged tax %}
				<tr>
					<td>{{tax.customer_id}}</td>
					<td>{{tax.account_number}}</td>
					<td>{{tax.tax_type_id}}</td>
					<td>{{tax.transaction_id}}</td>
					<td>{{tax.date}}</td>
					<td>{{tax.amount_paid}}</td>
					<td>{{tax.asses_year}}</td>
				</tr>
			{% else %}
				<tr class="alt">
					<td>{{tax.customer_id}}</td>
					<td>{{tax.account_number}}</td>
					<td>{{tax.tax_type_id}}</td>
					<td>{{tax.transaction_id}}</td>
					<td>{{tax.date}}</td>
					<td>{{tax.amount_paid}}</td>
					<td>{{tax.asses_year}}</td>
				</tr>
			{% endifchanged %}
		{% endfor %}
			
		</table>
	{% endif %}
	{% if account %}
		<h3>Service Tax Cut For {{account.service_tax_cut}} Years (Rs 100 per year) </h3>
	{% endif %}
	
</body>
</html>
